{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 80,
    "overrides": [
        {
            "files": "Keyboard.js",
            "options": {
                "printWidth": 160
            }
        }
    ]
}
